<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Infrastructure</h2>
    <!-- Logo Proxmox -->
    <svg viewBox="0 0 128 128">
      <image href="https://commons.wikimedia.org/wiki/File:Logo_Proxmox.svg#/media/File:Cib-proxmox_(CoreUI_Icons_v1.0.0).svg" width="128" height="128"/>
    </svg>

    <!-- Logo ZFS -->
    <svg viewBox="0 0 128 128">
      <image href="https://upload.wikimedia.org/wikipedia/commons/7/75/OpenZFS_logo.svg" width="128" height="128"/>
    </svg>

    <!-- Logo Linux -->
    <svg viewBox="0 0 128 128">
      <image href="https://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg" width="128" height="128"/>
    </svg>
    <p>Experienced in building and managing IT infrastructures with open source technologies such as Proxmox and ZFS. Strong adaptability across virtualization, storage, and networking platforms, with a hands-on, problem-solving approach.</p>
  </div>
  <div class="tech">
    <h2>Automation & Scripting</h2>
    <!-- Logo Bash -->
    <svg viewBox="0 0 128 128">
      <image href="https://upload.wikimedia.org/wikipedia/commons/4/4b/Bash_Logo_Colored.svg" width="128" height="128"/>
    </svg>

    <!-- Logo Python -->
    <svg viewBox="0 0 128 128">
      <image href="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" width="128" height="128"/>
    </svg>

    <!-- Logo Ansible -->
    <svg viewBox="0 0 128 128">
      <image href="https://upload.wikimedia.org/wikipedia/commons/2/24/Ansible_logo.svg" width="128" height="128"/>
    </svg>
    
    <p>Skilled in automating system operations with Bash, PowerShell, Python, Ansible, and Active Directory. I value efficiency, reproducibility, and minimal human intervention.</p>
  </div>
  <div class="tech">
    <h2>Security & Open Source</h2>
    <!-- Logo FireWall -->
    <svg viewBox="0 0 128 128">
      <image href="https://upload.wikimedia.org/wikipedia/commons/1/17/Firewall_Symbol.svg" width="128" height="128"/>
    </svg>

    <!-- Logo OpenVPN -->
    <svg viewBox="0 0 128 128">
      <image href="https://upload.wikimedia.org/wikipedia/commons/f/f5/OpenVPN_logo.svg" width="128" height="128"/>
    </svg>

    <!-- Logo Open Source Initiative -->
    <svg viewBox="0 0 128 128">
      <image href="https://upload.wikimedia.org/wikipedia/commons/e/eb/Open_Source_Initiative.svg" width="128" height="128"/>
    </svg>
    <p>Focused on building hardened, resilient environments using open source technologies. Experienced with GNU/Linux system administration, advanced firewalling, encrypted VPN infrastructures (OpenVPN, WireGuard, IPsec), security monitoring, and network segmentation (VLANs, routing, isolation policies).</p>
  </div>
</div>
